* {
    margin: 0;
    padding: 0;
}
/* .modal-content {
    background: url('../images/logo/Hysterix.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;  
}
.modal-background{
    background-color: black;
} */
body {
    background: url('../images/logo/Hysterix.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;  
    background-color: black;
}